@font-face {
  font-family: "AdwaitaSans"; /* Choose a name for your font family */
  src: url("../AdwaitaSans-Regular.ttf") format("truetype");
  /* Add other formats (woff, woff2) for better browser support */
  font-weight: normal;
  font-style: normal;
}
@import "tailwindcss";
*{font-family: "AdwaitaSans" ;}
.topbarContainer button{
    background-color: transparent;
}
@plugin "@tailwindcss/forms";
.v-virtual-scroll__container{
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5;
}